<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

<!-- Additional CSS Files -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-plot-listing.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animated.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}">